@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  background-color: white;
  width: auto;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}



.navigationBar {
  background: #003399;
  box-shadow: 0px 0px 5px 5px rgb(202, 202, 202);
  height: auto;
  text-align: center;
  width: 100%;
}

.navigationBar>ul>li {
  display: inline-flex;
}

.navigationBar>ul>li>a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  display: inline-flex;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;
  text-decoration: none;
  transition: color 0.3s ease-in;
  font-size: 20px;
}

.navigationBar>ul>li>a:hover {
  color: #fdd414;
}

.qslogo img {
  width: auto;
  height: auto;
  justify-content: center;
  margin-top: 10px;
}

.logobox {
  justify-content: center;
  align-items: center;
  display: flex;
}


h1 {
  font-family: 'Audiowide',
    cursive;
  font-weight: 200;
  color: #003399;
  margin-top: 25px;
  margin-left: 15px;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 2px #fdd414;

}

.logo img {
  margin-top: -59px;
  margin-left: -40px;
  display: inline-flex;
  float: left;
  max-width: 150px;
  max-height: 150px;
  box-shadow: 0px 0px 0px 0px black, 0px 0px 0px 0px black;
}

p {
  color: #003399;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-family: 'Open Sans',
    sans-serif;
}

ul {
  color: #003399;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}



h3 {
  color: #003399;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  font-family: 'Open Sans',
    sans-serif;
}

h4 {
  font-family: 'Open Sans',
    sans-serif;
}

.contactbox {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 20px;
}

.contact_allan img {
  width: 180px;
  height: 180px;
  margin-top: -30px;
  /* border: 3px solid #003399;
  border-radius: 100px; */
}


.whatsapp img {
  width: 50px;
  height: 50px;
  margin-top: 40px;
}

.vid {

  justify-content: center;
  align-items: center;
  display: flex;

}

.footer {
  width: 100%;
  height: 70px;
  margin-top: 120px;
  bottom: 0;
  border-top: solid #fdd414;
  border-width: 6px;
  background-color: #003399;
  box-shadow: 0px 0px 0px 0px #fdd414;
  height: 50px;
  text-align: center;
  width: 100%;
  margin-bottom: -10px;
  position: relative;
}


.text {
  font-size: 15px;
  font-family: 'Open Sans';
  padding-top: 2px;
  font-weight: 200;
  color: white;
}


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.flex-container>div {
  margin: 15px;
  padding: 10px;
  font-size: 30px;
}

h4 {
  color: #003399;
  font-size: 30px;
  margin-top: -20px;
}


.row {
  display: -ms-flexbox;
  justify-content: center;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 40px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media (max-width:480px) {

  .container {
    width: 100%;
    height: 100%;
  }

  .navigationBar {
    width: 100%;
    position: relative;
  }

  .navigationBar>ul>li>a {
    width: 100%;
    height: 40px;
    margin-top: -10px;
    padding-bottom: 5px;
    font-size: 15px;
    margin-left: -100px;
    margin-bottom: 10px;
  }

  .footer {
    width: 100%;
    height: 80px;
  }

  .logo img {
    margin-left: 120px;
    margin-top: -80px;
  }

  h1 {
    font-size: 35px;
    margin-right: 10px;
  }

  ul {
    font-size: 18px;
  }

  .flex-container {
    flex-direction: column;
  }



  .flex-container>div {
    display: inline-flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: -20px;
  }

  .price p {
    margin-left: 10px;
    text-align: center;
    font-size: 18px;
  }

  .vid {
    width: fit-content;
    height: fit-content;

  }

  .contact_allan img {
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .whatsapp img {
    margin-top: -10px;

  }

  .number {
    margin-top: 10px;
  }

  .email {
    margin-top: 20px;
  }

  .gmail {
    font-size: 20px;
  }


}

/* @media (max-width:768px) {

  .container {
    width: 100%;
    height: 100%;
  }

  .qslogo img {
    width: 380px;
    height: 250px;
  }

  .navigationBar {
    width: 100%;
    position: relative;
  }

  .navigationBar>ul>li>a {
    width: 240px;
    height: 40px;
    margin-top: -10px;
    padding-bottom: 5px;
    font-size: 15px;
    margin-left: -100px;
    margin-bottom: 10px;
  } */

/* .footer {
    width: 100%;
    height: 60px;
    margin-bottom: -30px;
  }


  .logo img {
    margin-left: 0px;
  
  }


  .flex-container {
    flex-direction: column;
  }

  .contact_allan {
    display: inline-flex;
    justify-content: center;
  }

  .flex-container>div {
    display: inline-flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: -20px;
  }

  .whatsapp img {
    margin-top: -10px;

  }

  .number {
    margin-top: 10px;
  }


  .email {
    margin-top: 20px;
  }

  .gmail {
    font-size: 20px;
  }

  .name {
    margin-top: -5px;
  }


} */

/* @media (max-width:600px) {

  .container {
    width: 100%;
    height: 100%;
  }

  .qslogo img {
    width: 380px;
    height: 250px;

  }


  .navigationBar {
    width: 100%;
    position: relative;
  }

  .navigationBar>ul>li>a {
    width: 240px;

    height: 40px;
    margin-top: -10px;
    padding-bottom: 5px;
    font-size: 15px;
    margin-left: -100px;
    margin-bottom: 10px;
  }


  .logo img {
    margin-left: 200px;
    margin-top: -80px;
  }


  .flex-container {
    flex-direction: column;
  }

  .contact_allan {
    display: inline-flex;
    justify-content: center;
  }

  .flex-container>div {
    display: inline-flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: -20px;
  }

  .whatsapp img {
    margin-top: -10px;

  }

  .number {
    margin-top: 10px;
  }


  .email {
    margin-top: 20px;
  }

  .gmail {
    font-size: 20px;
  }

  .name {
    margin-top: -5px;
  }
} */

@media (max-width:412px) {

  .container {
    width: 100%;
    height: 100%;
  }

  .qslogo img {

    width: 340px;
    height: 150px;
  }


  .navigationBar {
    width: 100%;
    position: relative;
  }

  .navigationBar>ul>li>a {
    width: 240px;
    height: 40px;
    margin-top: 5px;
    padding-bottom: 2px;
    font-size: 15px;
    margin-left: -80px;
    margin-bottom: 10px;
  }


  .flex-container {
    flex-direction: column;
  }

  .contact_allan {
    display: inline-flex;
    justify-content: center;
  }

  .flex-container>div {
    display: inline-flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: -20px;
  }

  .whatsapp img {
    margin-top: -10px;

  }

  .number {
    margin-top: 20px;
    font-size: 25px;
  }


  .email {
    margin-top: 20px;
    font-size: 25px;
  }

  .gmail {
    font-size: 25px;

  }

  .name {
    margin-top: 10px;
  }

  .footer {
    width: 100%;
    height: 60px;
    /* margin-bottom: -30px; */
    margin-top: 70px;
  }

  .text {
    font-size: 12px;
    font-family: 'Open Sans';
    padding-top: 2px;
    color: white;
  }


}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}